# Copy to infra/env/api.prod.env on the OCI host
PORT=8080
DB_URL=jdbc:mysql://db:3306/musepicker?useSSL=false&serverTimezone=UTC
DB_USERNAME=musepicker
DB_PASSWORD=change-this-db-user-password
DB_DRIVER=com.mysql.cj.jdbc.Driver
CORS_ALLOWED_ORIGINS=https://musepicker.shimyunbo.com
